* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  display: grid;
  gap: 2rem;
  padding: 2rem clamp(1rem, 5vw, 4rem);
  max-width: 75rem;
  margin: 0 auto;
}

.hero h2 {
  display: flex;
  justify-content: center;
}
body.light-background {
  background-color: #949cff;
}

#colorBtn {
  opacity: 0;
  width: 10rem;
  height: 3rem;
}

body {
  background-color: #721e1e;
  color: #e2d797;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  line-height: 1.5;
  width: 100%;
}

.container {
  min-height: 100vh;
  display: grid;
  gap: 40px;
  align-items: stretch;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "nav "
    "header "
    "main "
    "footer";
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header h1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
}

nav {
  grid-area: nav;
}
.nav-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  list-style-type: none;
}
.nav-container a {
  color: #e2d797;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-container .active {
  color: white;
}

main {
  grid-area: main;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-rubric {
  font-size: 3.5rem;
  color: #e2d797;
  margin-bottom: 2rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .title-rubric {
    font-size: clamp(1.8rem, 6vw, 2.6rem);
  }
  .hero-section p {
    font-size: clamp(0.95rem, 4vw, 1.15rem);
  }
  .nav-container {
    font-size: clamp(1rem, 1vw, 1.2rem);
  }
  .footer {
    font-size: clamp(1rem, 1vw, 1.5rem);
  }
}
